    #all_mome{
      margin-left:15%; 
      margin-right: 15%; 
      display: block;
      font-size: 5px;
    }
    #empt{
      text-align: left; 
      font-size:larger;
    }
    #mome{
      font-size: 5px;
    }
    #ached_title{
      font-size: 10px;
    }
    #middle_title{
      font-size: 15px;
    }
    #article_title{
      font-size: 20px;
    }
